name: Build MacOS
on: [workflow_dispatch]
jobs:
  Build:
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
      - run: python3 -m pip install setuptools wheel
      - run: python3 -m pip install -r requirements.txt
      - working-directory: ./packaging
        run: ./macos.sh --python python3
      - uses: actions/upload-artifact@v2
        with:
          name: Packages
          path: ./packaging/dist/*
          retention-days: 1
